<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mjc97.hackday16">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sfhs_icon2"
        android:label="SFHS"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FinderActivity" />
        <activity android:name=".TeamProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TeamMembersActivity" />
        <activity android:name=".DepartmentProfileActivity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".MockProActivity"></activity>
    </application>

</manifest>